<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" parallel="methods" thread-count="2">
    <parameter name="Hw19BaseURL" value="http://bbb.testpro.io/"/>

    <test name="Example Test" preserve-order="false">
        <classes>
            <class name="Homework24"/>
            <class name="Homework20"/>
            <class name="LoginTests">
            <methods>
                <include name="successfulLoginTest"/>
            </methods>
            </class>
            <class name="BaseTest"/>
        </classes>
    </test>
</suite>